@model dynamic

@{
    ViewBag.Title = "Issues";
    Layout = "_App";
}
<div id="issueDetailsModal"
     style="display: none;">
</div>
<button id="newIssue">New Issue</button>
<table id="issuesTable"
       style="width: 100%">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Priority
        </th>
        <th>
            Status
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>

</table>

@section Scripts {
    <script src="~/js/issues.js"></script>
}