@model dynamic

@{
    ViewBag.Title = "Issues";
    Layout = "_App";
}

<table id="issuesTable">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>

</table>

@section Scripts {
    <script src="~/js/issues.js"></script>
}