@model dynamic

@{
    ViewBag.Title = "Issues";
    Layout = "_App";
}

<button id="newIssue">New Issue</button>

<div class="modal"
     id="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <span class="close-modal"
              onclick="closeModal()">
            &times;
        </span>
    </div>
</div>

<table id="issuesTable"
       style="width: 100%">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Priority
        </th>
        <th>
            Status
        </th>
    </tr>
    </thead>

</table>

@section Scripts {
    <script src="~/js/issues.js"></script>
}