@{
    ViewData["Title"] = "Landing";
}
<h1>Welcome to BugTracker</h1>
<p>
    <a class="link"
       href="#get-started"
       id="link-to-start">
        Jump to start
    </a>
</p>
<div class="message selling">
    <p>
        BugTracker is a <strong>powerful</strong> and
        <em>user-friendly</em> platform for managing and <br>
        tracking software issues. Whether you're a developer,
        QA engineer, or project manager, BugTracker provides
        <span id="punchline"> the tools you need to streamline your bug tracking process.</span>
    </p>
</div>
<h1>Key Features:</h1>
<ul>
    <li>
        Issue Management: <br>
        <p> Easily create, update, and prioritize issues.</p>
        <img al
             alt="Managing tasks on board"
             height="320"
             src="https://techjuicedev.plcdn.com/wp-content/uploads/2020/02/How-To-Optimize-Task-Management-Communication-and-Training-In-Your-Team-Graphic-04.jpg"
             width="320">
    </li>
    <li>
        Collaboration: <br>
        <p> Communicate with your team and stakeholders, and keep everyone on the same page.</p>
        <video controls="controls"
               height="300"
               loop
               muted
               poster="https://i.ytimg.com/vi/wmHVZgHcips/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgXyhWMA8=&rs=AOn4CLCdfGeRUPMmdXr-ZECdqYI9DjFEgg"
               width="400">
            <source src="./Teamwork-joining-hand.webm">
            <track kind="descriptions"
                   label="English"
                   src="~/videodesc.txt"
                   srclang="en">
        </video>
    </li>оо
    <li>
        Workflow Customization: <br>
        <p> Tailor the bug tracking workflow to fit your team's needs.</p>
    </li>
    <li>
        Reporting and Analytics <br>
        <p>Gain insights into your team's performance and identify areas for improvement.</p>
    </li>
</ul>
<span id="get-started">
    <h1>Get Started:</h1>
</span>
<p>
    Sign up for a free account or log in to get started with BugTracker today!
    Ready to take control of your software issues? Join BugTracker and elevate your bug tracking experience.
</p>
<p>
    <a class="link"
       href="#"
       id="link-to-top">
        Jump to top
    </a>
</p>