@model dynamic
@using IssueTracker.Domain.Enum

@{
    ViewBag.Title = "Login Page";
    Layout = "_Landing";
}

<form action="#"
      id="loginForm">
    <fieldset>
        <p>
            <label for="email"> Email*</label>
            <input id="email"
                   name="email"
                   pattern="[^@@\s]+@@[^@@\s]+\.[^@@\s]+"
                   required
                   title="Email must contain @@,. and domen"
                   type="email"/>
        </p>
        <p>
            <label for="password"> Password*</label>
            <input id="password"
                   name="password"
                   required
                   type="password"/>
        </p>
        <p>
            Don't have an account?
            <a asp-action="Register"
               asp-controller="Landing"
               class="link">
                Register
            </a>
        </p>
        <button id="loginUser">
            Login
        </button>
    </fieldset>
</form>

@section Scripts {
    <script src="~/js/login.js"></script>
}