<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - IssueTracker</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true"/>
    <style> 
    .container {
        border: dashed thick antiquewhite;
        background: floralwhite;
        margin-top: 5px;
        padding: 5px;
    }
     </style>

</head>
<body>
<header>
    <div>
        <ul class="menu">
            <li>
                <a class="link submenu-item"> One </a>
            </li>
            <li>
                <a class="link submenu-item"> Two </a>
            </li>
            <li id="trigger">
                <a class="link submenu-item"> Links </a>
                <div class="navbar">
                    <ul class="submenu">
                        <li>
                            @* <a href="http://localhost:5279/Index">Home</a> *@
                            <a class="link submenu-item" asp-controller="Landing" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="link submenu-item" asp-controller="Landing" asp-action="Pricing">Pricing</a>
                        </li>
                        <li>
                            <a class="link submenu-item" asp-controller="Landing" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="link submenu-item"> Four </a>
            </li>
            <li>
                <a class="link submenu-item" asp-controller="Landing" asp-action="Index">Home</a>
            </li>
        </ul>
    </div>

</header>
<div class="container">
    <main role="main" @*class="pb-3"*@>
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - IssueTracker - <a asp-area="">Privacy</a>
    </div>
</footer>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@* <script src="~/js/site.js" asp-append-version="true"></script> *@
@* @await RenderSectionAsync("Scripts", false) *@
</body>
</html>